$text-color: rgb(255, 255, 255);
$box-shadow: rgb(179, 178, 176);
$box-shadow-hover: rgb(235, 231, 1);
$win-color: rgb(54, 223, 12);
$lose-color: rgb(223, 26, 12);
$draw-color: rgba(235, 235, 1, 0.486);
